.custom-dth-forms-content {
    background:#fff;
   padding: 5%;
   border: solid thin #e1e1e1;
   margin-top: 20px;
  
}
.dth-form-header {
    margin-bottom: 30px;
    font-weight: bold;
}
.custom-mobile {
    margin-bottom: 30px;
}